@import "../../utilities/variables";

.post {
  &.container {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    text-align: left;

    .post-image {
      height: 60vh;
      background: center no-repeat;
      background-size: cover;
    }

    .container {
      margin: $base-spacing;
      padding-top: $base-spacing-sm;

      .ui.header {
        text-align: start;
      }

      .sub.header {
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
      }

      .label {
        height: unset;
        border-radius: 2px;
        padding: $base-spacing-xsm $base-spacing-xs;
        margin: $base-spacing-xs;
        background-color: $category-color;
        color: $category-text;
      }

      .post-content {
        padding: 0 $base-spacing-xsm;
        iframe {
          max-width: 100%;
          height: auto;
        }
        img {
          max-width: 100%;
          height: auto;
        }

        div {
          max-width: 100%;
        }
      }
    }
    /* ICON */
    i {
      &.icon.circular {
        color: $buttons-icon-color;
        background-color: $buttons-bg-color;
        box-shadow: none;

        &.chevron.left {
          margin-top: $base-spacing;
          margin-left: $base-spacing;
        }

        &.chevron.left.absolute {
          position: absolute;
          z-index: 1;
          top: $base-spacing;
          left: $base-spacing;
          margin-top: 0;
          margin-left: 0;
        }

        &.share {
          margin: $base-spacing-md;
        }
      }
    }
  }
  .transition-container {
    display: flex;
    justify-content: flex-end;
  }
}
