.post.container {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
}

.post.container .container {
  margin: 0 1em !important;
}
.post.container .container .ui.header {
  text-align: start;
  color: #000000;
  height: unset;
  position: static;
  font-size: 2.4rem;
  font-weight: 100;
}
.post.container .sub.header {
  height: 6%;
  color: #999;
  margin: -3% 0% 5% 7%;
}
.post.container .sub.header b {
  font-size: 15px;
  color: #000000;
}

.ui.justified.container {
  height: unset;
}

.post.container .container .label {
  height: unset;
  border-radius: 0;
  font-size: 1.01rem;
  font-weight: 100;
  padding: 10px 5px;
  margin: 15px 10px -10px 0;
}

/* ICON */
.ui.container.post i.icon {
  position: absolute;
  z-index: 1;
  top: 10px;
  color: #ffffff;
}

/* FIX FOR EXTRA DIV FORM react-router-modal */
.ui.container.post + div {
  display: none;
}
