.comments-container {
  /* HEADER */ }
  .comments-container .ui.block.header.comments-header {
    border: none;
    text-align: center;
    margin: 0;
    color: #303030;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 0;
    background-color: #fafafa;
    /* CLOSE ICON */ }
    .comments-container .ui.block.header.comments-header a {
      position: absolute;
      right: 0; }
