@import "variables";

//centering flex
/*
.center-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.vertical-align {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

// used with display: flex
.justify-flex-start {
  justify-content: flex-start;
}

// sizing
.w-100 {
  width: 100%;
}
.w-85 {
  width: 85%;
}
.w-80 {
  width: 80%;
}
.h-100 {
  height: 100%;
}
.h-20 {
  height: 20%;
}
.h-a {
  height: auto;
}
.h-80vh {
  height: 80vh;
}
.h-20vh {
  height: 20vh;
}

//positioning
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.b-0 {
  bottom: 0;
}

//background
.bg-center-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//text
.text-center {
  text-align: center;
}
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-caps {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

//display
.display-none {
  display: none !important;
}

//overflow
.of-auto {
  overflow: auto;
}

//Paddings and margin
.m-0-a {
  margin: 0 auto;
}
*/
