@import "functions", "variables";

// Body text
// -------------------------

p,
div {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-text-color;
}

// Headings
// -------------------------

h1,
.h1 {
  font-size: $base-font-size * mpow($multiplying-factor, 4);
  font-weight: normal;
  font-family: $base-font-family;
  color: $base-text-color;
}
h2,
.h2 {
  font-size: $base-font-size * mpow($multiplying-factor, 3);
  font-weight: normal;
  font-family: $base-font-family;
  color: $base-text-color;
}
h3,
.h3 {
  font-size: $base-font-size * mpow($multiplying-factor, 2);
  font-weight: normal;
  font-family: $base-font-family;
  color: $base-text-color;
}
h4,
.h4 {
  font-size: $base-font-size * mpow($multiplying-factor, 1);
  font-weight: normal;
  font-family: $base-font-family;
  color: $base-text-color;
}
h5,
.h5 {
  font-size: $base-font-size;
  font-weight: normal;
  font-family: $base-font-family;
  color: $base-text-color;
}
h6,
.h6 {
  font-size: $base-font-size / mpow($multiplying-factor, 1);
  font-weight: normal;
  font-family: $base-font-family;
  color: $base-text-color;
}

// Buttons & Links
// -------------------------

button.ui.button {
  background: $buttons-bg-color;
}
i.icon {
  color: $buttons-icon-color;
}
a {
  color: $base-links-color;
}
