// Variables that can be customized

//Base font variables
$base-font-family: "Roboto Condensed", sans-serif;

// Headlines and primary texts
$base-text-color: #303030;

// Article and side menu background
$base-bg-color: #ffffff;

// Borders
$border-color: #dddddd;

// Secondary texts - dates and other messages
$extra-text-color: #999999;

// Category label
$category-color: #f90c9a;
$category-text: #ffffff;

// Footer background
$footer-bg-color: #fafafa;

// Buttons background
$buttons-bg-color: #fafafa;

// Buttons icon
$buttons-icon-color: #747474;

// Forms
$form-color: #5c5c5c;

// Categories menu background
$cover-panel-color: #32394a;

// Categories menu text color (home page)
$cover-text-color: #ffffff;

// Base font-size
$base-font-size: 1rem;


// Other variables
$multiplying-factor: 1.1;

// Base padding and margin
$base-spacing-xxs: 2px;
$base-spacing-xs: 5px;
$base-spacing-sm: 8px;
$base-spacing-xsm: 10px;
$base-spacing: 16px;
$base-spacing-xmd: 20px;
$base-spacing-md: 24px;
$base-spacing-lg: 32px;
$base-spacing-xl: 64px;
$base-spacing-xxl: 72px;
$base-spacing-xxxl: 80px;
