.double-post {
  flex: 1;
  margin-bottom: 45px; }
  .double-post .post-item {
    height: 50%;
    overflow: hidden; }
    .double-post .post-item:first-child {
      border-bottom: 1px solid; }

.single-post {
  flex: 1;
  margin-bottom: 45px; }
  .single-post .post-item {
    height: 90%;
    min-width: 90%;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid; }
