@import "../../../../utilities/_variables.scss";

.double-post {
  flex: 1;
  margin-bottom: 45px;

  .post-item {
    height: 50%;
    overflow: hidden;

    &:first-child {
      border-bottom: 1px solid;
    }
  }
}

.single-post {
  flex: 1;
  margin-bottom: 45px;

  .post-item {
    height: 90%;
    min-width: 90%;
    margin-top: $base-spacing-md;
    margin-bottom: 0;
    margin-left: $base-spacing;
    margin-right: $base-spacing;
    border: 1px solid;
  }
}
