@import "../../../../utilities/_variables.scss";

.double-post {
  display: flex;
  flex-direction: column;
  min-height: 93vh;

  .post-item {
    max-height: 50vh;
    overflow: hidden;
  }

  a.post-link {
    flex: 1;
    min-height: 40vh;
    &:first-child {
      border-bottom: 1px solid;
    }
  }
}

.single-post {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  a.post-link {
    flex: 1;
    min-width: 90vw;
    margin-top: $base-spacing-md;
    margin-bottom: 0;
    margin-left: $base-spacing;
    margin-right: $base-spacing;
    border: 1px solid;
  }
}
