.double-post, .single-post  {
  display: flex;
  flex-direction: column;
}

.double-post {
  height: 93%;
}

.single-post {
  height: 90%;
}

.double-post a, .single-post a {
  flex: 1;
  max-height: 50%;
  overflow: hidden;
}

.single-post a {
  width: 90%;
  max-height: 100%;
  overflow: hidden;
  margin: 2rem auto 0 auto;
  border: 1px solid #e5d5d0;
}

.double-post a:first-child {
  border-bottom: 1px solid #e5d5d0;
}
