.double-post {
  display: flex;
  flex-direction: column;
  min-height: 93vh; }
  .double-post a {
    flex: 1;
    min-height: 40vh; }
    .double-post a:first-child {
      border-bottom: 1px solid; }

.single-post {
  display: flex;
  flex-direction: column;
  min-height: 90vh; }
  .single-post a {
    flex: 1;
    min-width: 90vw;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid; }
