.posts-carousel-container * {
  color: #303030 !important;
  background-color: #ffffff !important;
  border-color: #dddddd !important; }

.posts-carousel-container .slick-slide.slick-active {
  height: 100vh; }
  .posts-carousel-container .slick-slide.slick-active .not-found.ui.header {
    margin-top: 20%; }
