.sidebar .ui.header {
  height: unset;
  position: static;
  color: #999;
  font-size: 23px;
  font-weight: 100;
  line-height: 45px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 3%;
  display: flex;
  align-items: flex-start;
}

/* LIST OVERRIDE */
.ui.divided.relaxed.list {
  height: unset;
  margin: 5% 3%;
}

.ui.divided.relaxed.list .item {
  display: flex;
  align-items: center;
  margin: 1% 3%;
  position: relative;
}
.ui.divided.relaxed.list .item div.header {
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: normal;
  color: #000000 !important;
}
.ui.divided.relaxed.list .item > i:nth-child(3) {
  position: absolute;
  right: 0;
}

/* MODAL */
.modal > div {
  height: unset;
}
.ui.scrolling.modal .header {
  border: none;
}
.modal .image {
  margin: auto;
}

.ui.modal .content {
  position: relative;
}

.ui.modal .go-to {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
}
