.ui.menu-pages.sidebar {
  border-color: #dddddd; }
  .ui.menu-pages.sidebar i {
    color: #747474; }
  .ui.menu-pages.sidebar .list {
    padding: 16px; }
    .ui.menu-pages.sidebar .list .header {
      font-family: "Roboto Condensed", sans-serif, sans-serif;
      color: #303030;
      margin-top: 8px; }
    .ui.menu-pages.sidebar .list .item {
      display: flex;
      align-items: center;
      border-color: #dddddd;
      padding-top: 0.5rem;
      padding-bottom: 0.7rem; }
      .ui.menu-pages.sidebar .list .item .content {
        display: flex;
        align-items: center; }
        .ui.menu-pages.sidebar .list .item .content h3 {
          font-family: "Roboto Condensed", sans-serif, sans-serif;
          color: #303030; }
      .ui.menu-pages.sidebar .list .item .icon.triangle {
        position: absolute;
        right: 0; }
