@import "../../utilities/_variables.scss";

.ui.menu-pages.sidebar.visible {
  border-color: $border-color;
  i {
    color: $buttons-icon-color;
  }
  .list {
    padding: $base-spacing-xsm;

    .header {
      font-family: $base-font-family, sans-serif;
      color: $base-text-color;
      margin-top: $base-spacing-sm;
    }

    .item {
      display: flex;
      align-items: center;
      height: 8vh;
      position: relative;
      border-color: $border-color;

      .content {
        display: flex;
        align-items: center;

        h3 {
          font-family: $base-font-family, sans-serif;
          color: $base-text-color;
        }
      }

      .icon.triangle {
        position: absolute;
        right: 0;
      }
    }
  }
}
