@import "../../utilities/_variables.scss";

.ui.menu-pages.sidebar {
  border-color: $border-color;
  i {
    color: $buttons-icon-color;
  }
  .list {
    padding: $base-spacing;
    width: 100%;

    .header {
      font-family: $base-font-family, sans-serif;
      color: $base-text-color;
      margin-top: $base-spacing-sm;

      .icon {
        text-align: left;
        margin-right: 0;
        width: 1em;
      }
    }

    .item {
      display: flex;
      align-items: center;
      border-color: $border-color;
      padding-top: 0.5rem !important;
      padding-bottom: 0.7rem !important;

      .content {
        display: flex;
        align-items: center;

        h3 {
          font-family: $base-font-family, sans-serif;
          color: $base-text-color;
        }
      }

      .icon.triangle {
        position: absolute;
        right: 0;
        padding-right: 0;
        text-align: right;
      }
    }
  }
}
