/* OVER RIDE semantic UI styles */
/* Image Element */
.item.posts div.image {
  background-size: cover;
  background-position: center;
  height: 40%;
  width: 50%;
  float: left;
  margin: 4px 10px 5px 0;
}

/* Item */
.posts {
  text-align: start;
}
.posts .header {
  height: 8.2%;
  margin: 10px 0;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 23px;
  color: #000000;
  text-align: start;
  text-transform: uppercase;
}

.posts .header {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.card a {
  height: 100%;
}

.item.posts .description {
  text-overflow: ellipsis;
  word-break: break-word;
}
