.item.post-item {
  padding: 1rem; }
  .item.post-item .header {
    text-transform: uppercase;
    overflow: hidden; }
  .item.post-item .content {
    padding-top: 10px; }
    .item.post-item .content .image {
      background: center;
      background-size: cover;
      float: left;
      height: 120px;
      width: 50%;
      max-width: 200px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      margin-left: 2px; }
    .item.post-item .content .description {
      text-align: justify;
      word-break: break-word; }
