.carousel-container {
  background-color: #32394a;
  height: 100vh; }

.carousel-container .pusher,
.carousel-container .slick-slider,
.carousel-container .slick-list,
.carousel-container .slick-track,
.carousel-container .pusher div {
  height: 100%; }

.carousel-container .slick-side {
  height: 110%; }

.carousel-container .slick-dots {
  bottom: 9%;
  width: 90%;
  left: 5%;
  border-radius: 20px;
  opacity: 1; }

.carousel-container .slick-dots li {
  margin: 0 5px; }

.carousel-container .slick-dots li button::before {
  font-size: 15px;
  color: #fafafa; }

.carousel-container .slick-dots li.slick-active button::before {
  color: #fafafa; }

.carousel-container .pusher .ui.loader.active::before, .carousel-container .pusher .ui.loader.active::after {
  top: 50%; }

.ui.image.tiny.logo {
  position: absolute;
  z-index: 1000;
  top: 16px;
  left: 16px; }
