.carousel-container {
  height: 100vh;
}

.carousel-container + div {
  height: unset;
}

.slick-slider,
.slick-list,
.slick-track,
div {
  height: 100%;
}

.slick-side {
  height: 110%;
}

.slick-dots {
  bottom: 35px;
  width: 30%;
  left: 35%;
  background-color: #000000;
  border-radius: 50px;
  opacity: 0.25;
}
.slick-dots li button::before {
  font-size: 13px;
  color: #ffffff;
}
.slick-dots li.slick-active button::before {
  color: #ffffff;
}
