.navbar.button.tiny.right.ui {
  position: absolute;
  z-index: 1;
  top: 2%;
  right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px; }
  .navbar.button.tiny.right.ui .icon.content.large {
    margin: 0; }
