.posts-carousel-container .footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: #fafafa;
  padding: 5px;
  border-top: solid 1px #dddddd;
  z-index: 1000; }
  .posts-carousel-container .footer .footer-side {
    max-width: 60px;
    flex: 1;
    text-align: center; }
  .posts-carousel-container .footer h4 {
    flex: 1;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .posts-carousel-container .footer h4, .posts-carousel-container .footer span {
    color: #303030;
    line-height: 2rem; }
