@import "../../utilities/variables";

.posts-carousel-container .footer {
  position: absolute;
  bottom: 0;
  height: unset;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: $footer-bg-color;
  padding: $base-spacing-xs;
  border-top: solid 1px $border-color;
  z-index: 1000;

  .footer-side {
    max-width: 60px;
    flex: 1;
    text-align: center;
  }

  h4 {
    flex: 1;
    text-align: center;
    margin: 0;
  }

  h4, span {
    color: $base-text-color;
    line-height: 2rem;
  }
}
