@import "../../utilities/variables";

.posts-carousel-container .footer {
  position: absolute;
  bottom: 0;
  height: unset;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: $footer-bg-color;
  padding: $base-spacing-xs;
  border-top: solid 1px $border-color;
}
