.posts-carousel-container .footer {
  position: absolute;
  bottom: 0;
  height: unset;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fafafa;
  padding: 5px;
  border-top: solid 1px #dddddd;
  z-index: 1000; }
