@import "../../utilities/variables";

.posts-carousel-container .slick-slider .footer {
  position: absolute;
  bottom: 0;
  height: unset;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: $footer-bg-color;
  padding: 5px;
  border-top: solid 1px $border-color;
}

.posts-carousel-container .footer i.icon {
  color: $buttons-icon-color;
}
