@import "../../../../utilities/variables";

.categories-card .item {
  position: relative;
}

.categories-card .ui.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  text-align: start;
  font-weight: 100;
  text-transform: uppercase;
  padding: 9px 15px;
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.08) 55px,
    transparent 80px,
    transparent
  );
  h1 {
    color: $cover-text-color;
  }
}

.categories-card .ui.header.header > div {
  height: unset;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
.categories .ui.image.big {
  width: 100vw;
}
*/

.categories-card .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $cover-panel-color;
}
