.categories-card .item {
  position: relative; }

.categories-card .ui.header {
  z-index: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  text-align: start;
  padding: 9px 15px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.08) 55px, transparent 80px, transparent); }
  .categories-card .ui.header h1 {
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    overflow-wrap: break-word;
    max-width: 100%; }

.categories-card .ui.header.header > div {
  height: unset;
  overflow: hidden;
  text-overflow: ellipsis; }

/*
.categories .ui.image.big {
  width: 100vw;
}
*/
.categories-card .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #32394a; }
