.share.ui.modal {
  height: 90%; }
  .share.ui.modal .actions {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .share.ui.modal .actions a {
      margin-left: 8px;
      margin-right: 8px; }
    .share.ui.modal .actions .social-media {
      display: flex;
      justify-content: space-evenly; }
    .share.ui.modal .actions i.icon.circular {
      color: #747474;
      background-color: #fafafa;
      box-shadow: none; }
